<h2>Search for animes</h2>
<form action="/animes" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    <div>
        <label>Year</label>
        <input type="number" name="year" min="1930" value="<%= searchOptions.year %>">
    </div>
    <button type="submit">Search</button>
</form>
<div>
    <% animes.forEach(anime => { %>
       <a href="/animes/<%= anime.id %>"><img width="240" src="<%= anime.imgVPath %>"></a>
       <div>
           <%= anime.title %>
       </div>
    <% }) %>
</div>