<h2><%= anime.title %></h2>
<img width="480" src="<%= anime.imgVPath %>">
<div>Release Date: <%= anime.rDate %></div>
<div>Finished Airing: <%= anime.fDate %></div>
<div>Episodes: <%= anime.eCount %></div>
<div>Description: <%= anime.descr %></div>